//news

.news {
    margin-bottom: 70px;
    padding: 50px 4vw 0;

    &__title {
        margin-bottom: 25px;
    }
    &__inner {
        @extend .content-width;
    }
    &__content {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #D3D3D3;

        @include mediaQuery('md') {
            padding-bottom: 20px;
        }
    }
    &__content:hover &__detail {
        color: $cHoverText;
    }
    &__detail {
        font-weight: bold;

        @include mediaQuery('md') {
            display: inline;
            margin-left: 40px;
        }
    }
    &__time {
        margin-bottom: 10px;
        font-size: 20px;
        color: $cTime;
    }
    &__btn {
        margin: 0 auto;

        @include mediaQuery('md') {
            margin-top: 60px;
        }
    }
}